@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'), url(../font/iceland.woff) format('woff');
}

html {
	background-color: #5b5b5b;
}

body {
	background: white;
}

h1 {
	font-family: 'Iceland', cursive;
	margin-bottom: 0;
	padding-bottom: 0;
}

.shtfy-search {
	margin-top: 2em;
	text-align: center;
}

.about {
	font-family: 'Arial';
	font-size: 0.3em;
	color: black;
}
.about a, .choseurl a {
	color: black;
}

.choseurl {
	margin-bottom: 4px;
}

.shtfy-container, .about-container {
	margin-top: 10%;
	padding: 1em;
	min-width: 320px;
}

@media only screen and (min-width: 940px) {
	.about-container {
		margin-left: 12%;
		margin-right: 12%;
	}
}

.about-container {
	padding-top: 2em;
}

.shtfy {
	font-family: 'Iceland', cursive; 
	font-weight: bold; 
 	color: black; 
 	font-size: 1.2em;
 }
